:root {
	--color-background: #FFFFFF; /* White */
	--color-text: #6E6259; /* Warm Gray */
	--color-title-1: #2D2926; /* Black */
	--color-title-2: #A62C2B; /* Metallic Red */
	--color-title-3: #2D2926; /* Black */;
	--color-dark-text: #5F1933; /* Brown Chocolate */
	--color-dark-text-hover: #A62C2B; /* Metallic Red */
	--color-hightlight-text: #A62C2B; /* Metallic Red */
	--color-link-text: #A62C2B; /* Metallic Red */
	--color-link-text-hover: #5F1933; /* Brown Chocolate */
	--color-select-text: #A62C2B; /* Metallic Red */
	--color-member-name: #A62C2B; /* Metallic Red */
	--color-service-title: #A62C2B; /* Metallic Red */
	--color-publication-title: #A62C2B; /* Metallic Red */
	--color-banner-main-background: #F08F90; /* Ikkonzome (Pink) */
	--color-banner-background: #EEEEEE;
	--color-banner-pale-background: #FFF5EE; /* Seashell */
	--color-navbar-text: #2D2926; /* Black */;

	font-size: 75%;
}

@font-face {
	font-display: swap;
}

/* Border-box Fix */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Reset https://www.joshwcomeau.com/css/custom-css-reset/ */

button, input, select {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin: 0;
}

ul {
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: var(--color-link-text);
}

::selection {
    color: #FFFFFF;
    background: var(--color-select-text);
}

/* Customised reset */

h2 {
	font-size: 1.5rem;
	color: var(--color-title-2);
}

h3 {
	font-size: 1rem;
	color: var(--color-title-3);
}

p {
	margin: 0.5rem auto;
}

/* Style for Word Pasted Content */

strong {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--color-publication-title);
}

u {
	text-decoration: none;
	font-weight: 700;
	color: var(--color-title-2);	
}

/* Structure */

body {
	background-color: var(--color-background);
	font-family: 'Poppins', sans-serif;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
}

#main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

header {
	position: sticky;
	top: 0;
	padding: 0 16px;
	box-sizing: border-box;
	background-color: var(--color-background);
	z-index: 99;
}

main {
	flex: 1;
	line-height: calc(1em + 0.75rem);
}

footer {
	padding: 0 48px;
	margin-left: auto;
	text-align: right;
}

footer p {
	margin: 32px 0;
}

.body-container {
	margin: 96px 0 0 0;
}

.wrapper-horizontal {
	margin: 0 auto;
	padding: 0 8px;
	width: 300px;
}

.text-center {
	text-align: center;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-top-64 {
	margin-top: 64px;
}

.margin-top-32 {
	margin-top: 32px;
}

.card.margin-top-0 {
	margin-top: 0; 
}

.highlight {
	color: var(--color-hightlight-text);
}

.left-border {
	border-left: 2px solid var(--color-hightlight-text);
	margin-left: 0px;
	padding-left: 16px;
}

/* banner */

.banner {
	text-align: center;
	height: 192px;
	background-color: var(--color-banner-background);
}

#home-research.banner {
	text-align: center;
	height: auto;
	background-color: var(--color-banner-main-background);
}

#home-research-flex {
	min-height: 448px;
	padding: 96px 8px;
}

#home-research.banner h1 {
	font-family: 'Poppins', sans-serif;
	color: var(--color-dark-text);
	letter-spacing: -.04rem;
	font-size: 2rem;
	line-height: 1;
	margin-bottom: 16px;
}

#home-research.banner span {
	color: var(--color-dark-text);
	margin-bottom: 16px;
}

.banner img {
	/*position: absolute;
	top: 50%;
	left: 78%;
	transform: translate(-78%, -50%);
	max-width: 30%; */
	max-height: 180px;
	object-fit: contain;
}

#home-research-banner {
	min-height: 100%;
	display: flex;
	align-items: center;
}

.banner-overlay {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner-overlay h1 {
	position: relative;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2rem;
	line-height: 1;
	color: var(--color-title-1);
	letter-spacing: 0.02rem;
}

.home-btn {
	border: 2px solid var(--color-dark-text);
	width: 176px;
	height: 40px;
	color: var(--color-dark-text);
	text-align: center;
	border-radius: 9999px;
	transition: border .3s, color .3s;
}

p ~ .home-btn {
	margin-top: 16px;
}

.home-btn:hover, .idea-btn:hover {
	border: 2px solid var(--color-dark-text-hover);
	color: var(--color-dark-text-hover);
}

.idea-btn {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 48px 0;
	border: 2px solid var(--color-dark-text);
	width: 240px;
	height: 40px;
	color: var(--color-dark-text);
	text-align: center;
	border-radius: 9999px;
	transition: border .3s, color .3s;
}

.left-align > h1, .left-align > span {
	text-align: left;
}

.home-smalltitle {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 700;
	border: 2px solid var(--color-dark-text);
  flex-grow: 0;
  padding: 0px 3px;
  letter-spacing: .2px;
}

/* navbar */
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

nav div#logo {
	margin: 16px 0;
	display: flex;
	align-items: center;
	flex-grow: 99999;
}

nav div#logo img {
	height: 60px;
}

nav div#logo div#labname {
	width: 225px;
	margin-left: 16px;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.4rem;
	letter-spacing: 0.0125rem;
}

@media only screen and (max-width: 1199.98px) {
	nav ul {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background: rgba(57, 57, 57, 0.9);
		top: 0;
		left: 0;
		margin: 0;
		padding: 70px 0 0 0;
		opacity: 0;
		transition: opacity 0.2s 0.1s ease-in-out;
		color: #FFF;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		visibility: hidden;
		z-index: 99999;
	}

	nav ul.opened {
		opacity: 1;
		visibility: visible !important;
	}

	nav .cross {
    content: '';
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
    background-position: center;
    background-size: contain;
    cursor: pointer;
    opacity: 0.8;
	}

	nav ul li {
		display: block;
		width: 100%;
	}

	nav a {
		display: block;
		overflow: hidden;
		padding: 10px;
		text-align: center;
		color: #FFF;
	}

	nav a:hover, nav a:active {
		background-color: rgba(57, 57, 57, 0.9);
	}

	nav .hamburger {
		font-size: 2rem;
		cursor: pointer;
		margin: 10px 0;
		flex-grow: 1;
		text-align: center;
	}
}

/* transition */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* People */
.flex-box {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.flex-box-reverse {
	flex-direction: row-reverse;
}

.flex-stack {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-250 {
	flex: 0 0 250px;
}

.flex-200 {
	flex: 0 0 200px;
}

.flex-40 {
	flex-basis: 100%;
	flex-grow: 1;
}

.flex-60 {
	flex-basis: 100%;
	flex-grow: 1;
}

.align-center {
	height: 100%;
	align-items: center;
}

.contact-box > div {
	display: inline-block;
}

.contact-box > div:first-child {
	margin-right: 3rem;
}

.contact-info {
	margin-left: 1rem;
}

section#grant {
	margin-top: 2rem;
}

section#home-services {
	margin-top: 6rem;
}

section#contact {
	margin-top: 96px;
	padding: 32px;
	background-color: var(--color-banner-background);
	box-sizing: content-box;
	border-radius: 6px;
}

section#contact iframe {
	display: block;
	max-width: 100%;
}

section#chiu .title-box, section#members .title-box {
	color: var(--color-title-1);
	border-bottom: 2px solid var(--color-title-1);
	padding-bottom: 8px;
	margin: 0 0 24px 0;
	font-weight: 700;
	font-size: 1.4rem;
}

section#members .title-box {
	margin: 48px 0 24px 0;
}

section#members .people-card {
	margin-top: 32px;
}

section#members .people-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-gap: 16px;
	justify-content: space-around;
}

section#members .people-grid-item {
	margin-bottom: 12px;
}

section#chiu .name, section#members .name {
	color: var(--color-member-name);
	font-size: 1.25rem;
	font-weight: 700;
	display: block;
}

section#chiu .position, section#members .position {
	display: block;
	margin-bottom: 12px;
	color: var(--color-title-3);
	font-size: 1rem;
	font-weight: 700;
}

section#gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

section#gallery::after {
	content: "";
	flex-grow: 0.9;
}

section#gallery figure {
	margin: 0;
	height: 160px;
	flex: 1 1 auto;
	position: relative;
	cursor: pointer;
}

section#gallery img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	border-radius: 5px;
}

section#gallery .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(57, 57, 57, 0.502);
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.2s 0.1s ease-in-out;
	color: #FFF;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

section#gallery figure:hover .overlay {
	opacity: 1;
}

.alumni-table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 2px solid var(--color-text);
	margin: 8px 0 16px 0;
}

.alumni-table th, .alumni-table td {
	padding: 8px;
	text-align: left;
	vertical-align: top;
}

.alumni-table th {
	color: var(--color-text);
	border-bottom: 2px solid var(--color-text);
}

.toggle-section:not(:last-child) {
	margin-bottom: 16px;
}

.toggle-section {
	padding: 0 8px;
}

.toggle-box {
	max-height: 0;
	overflow: hidden;
	transition: max-height .4s ease-in-out;
}

.toggleBtn {
	cursor: pointer;
	display: block;
}

.inlineBtn {
	cursor: pointer;
	display: inline-block;
}

.toggle-icon {
	font-size: 0.8rem;
	transition: transform .3s ease-in-out;
	margin-top: 0.8rem;
	margin-right: 8px;
}

.toggle-icon.opened {
	transform: rotate(90deg);
}

.toggle-icon.toggle-icon-right {
	margin-left: 8px;
	margin-right: 0;
}

.card {
	margin: 96px auto;
	overflow: auto;
}

.dark {
	background-color: var(--color-banner-pale-background);
	width: 100%;
}

#project, #joinus-participant, #pub1 {
	margin-top: -96px;
}

.width-200 {
	display: block;
	max-width: 200px;
}

.gap-20 {
	gap: 20px;
}

.gap-64 {
	gap: 64px;
}

.service-title {
	color: var(--color-service-title);
	font-weight: 700;
	text-align: center;
}

.service-title small {
	color: var(--color-text);
	font-weight: 400;
}

.max-height-300 {
	max-height: 300px;
	object-fit: cover;
}

.members-img {
	margin: 0 20px;
}

.joinus-recruit {
	display: block;
	padding: 10px;
	margin-top: 12px;
	border: 2px solid var(--color-link-text);
	border-radius: 6px;
	color: var(--color-link-text);
	text-decoration: none;
	transition: border .3s, color .3s;
}

.joinus-recruit:hover {
	border-color: var(--color-link-text-hover);
	color: var(--color-link-text-hover);
}

.splide-description {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 40%);
	color: #FFFFFF;
	padding: 3px 5px;
}

/* */
@media only screen and (min-width: 680px) {
	.wrapper-horizontal {
		width: 500px;
	}
}

@media only screen and (min-width: 768px) {
	:root {
		font-size: 100%;
	}

	header {
		padding: 0 48px;
	}

	nav div#logo div#labname {
    	width: 300px;
	}

	nav div#logo img {
    	height: 75px;
	}

	.wrapper-horizontal {
		width: 600px;
	}

	.flex-250 {
		flex: 0 0 250px;
	}

	.flex-40 {
		flex-basis: 240px;
	}

	.flex-60 {
		flex-basis: 360px;
	}

	.max-height-300 {
		max-height: 350px;
	}
}

@media only screen and (min-width: 1024px) {
	.wrapper-horizontal {
		width: 768px;
	}

	.max-height-300 {
		max-height: 300px;
	}

	.banner img {
    max-height: 300px;
    object-fit: contain;
	}
}

@media only screen and (min-width: 1200px) {
	.wrapper-horizontal {
		width: 960px;
	}

	nav ul {
		list-style-type: none;
		text-align: right;
		margin: 12px 0 12px auto;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	nav ul li {
		display: inline-block;
	}

	nav a {
		display: block;
		overflow: hidden;
		padding: 10px;
		position: relative;
		color: var(--color-navbar-text);
	}

	nav li:not(.dropdown) a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--color-navbar-text);
		transition: transform 300ms;
		transform: translate3d(-100%, 0, 0);
	}

	nav li:not(.dropdown) a:hover::after {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	nav .hamburger {
		visibility: hidden;
		position: absolute;
	}

	.left-border {
		border-left: 4px solid var(--color-hightlight-text);
		margin-left: 32px;
		padding-left: 32px;
	}
}

@media only screen and (min-width: 1441px) {
	.wrapper-horizontal {
		width: 1200px;
	}
}